@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'], input[type='radio'] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after, input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type='checkbox']:checked, input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type='checkbox']:disabled, input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus, input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }



    input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked, input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label, input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }
    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: .5;
    }
}
ul {
    text-align: left;
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
}
ul li {
    margin: 16px 0;
    position: relative;
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
*:before, *:after { 
    box-sizing: inherit;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

.menu{
    
    width: 700px;
    background-color: #fff;
    text-align: center;
    margin: 5vh auto 0 auto;
    font-family: 'Raleway', Arial, sans-serif;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;

}


    /* 영수증 스타일링을 위한 CSS */
    body {
        /* background: #a7ccff; */
        color: #3a3e59;
        font-family: 'Raleway', Arial, sans-serif;
        background: linear-gradient(-45deg, #8bd3da, #316fa5) fixed;
        animation:bg-move 2s linear 0s;
    }
    p {
        text-align: center;
        opacity: .3;
        transition: .3s;
        position: absolute;
        bottom: 2vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    p:hover {
        opacity: 1;
    }
    .receipt {
        max-width: 400px;
        margin: 5vh auto 0 auto;
    }
    .receipt_hoverable {
        transition: .3s;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
    .receipt_hoverable:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    }
    .header {
        width: 100%;
    }
    .header__top {
        display: flex;
        align-items: center;
        background: white;
        width: 100%;
        border-radius: 4px 4px 0 0;
    }
    .header__logo {
        width: 10%;
        padding: 30px;
    }
    .header__meta {
        position: relative;
        margin-left: -50px;
        width: 90%;
        /* height: 100%; */
    }
    .header__serial {
        display: block;
    }
    .header__number {
        position: absolute;
        top: 7.5px;
        right: 0;
        transform: rotate(270deg);
        opacity: .2;
    }
    .header__greeting {
        clear: both;
    }
    .header__greeting {
        position: relative;
        background: white;
        padding: 0 15px;
        padding-left: 30px;
    }
    .header__name {
        display: block;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 7.5px;
    }
    .header__count {
        opacity: .4;
        font-size: 90%;
    }
    .header__border {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 3px;
        background-color: #429fff;
    }
    .header__spacing {
        display: block;
        background: white;
        width: 100%;
        height: 22.5px;
    }
    .cart {
        background: white;
        padding: 30px;
        padding-top: 15px;
        border-bottom: 2px dashed #ff84a1;
        border-radius: 0 0 5px 5px;
    }
    .cart__header {
        margin-top: 0;
        text-align: center;
    }
    .cart__hr {
        border: none;
        padding: 0;
        margin: 0;
        margin-bottom: 22.5px;
        border-bottom: 3px solid #fee469;
    }
    .list {
        margin: 0;
        padding: 0;
        counter-reset: item-counter;
    }
    .list__item {
        display: flex;
        width: 100%;
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    }
    .list__item:last-child {
        border-bottom: none;
    }
    .list__item:before {
        content: counter(item-counter);
        counter-increment: item-counter;
        margin-right: 15px;
    }
    .list__name {
        flex: 1;
        align-self: flex-start;
    }
    .list__price {
        align-self: flex-end;
        text-align: right;
        font-weight: bold;
    }
    .cart__total {
        display: flex;
        width: 100%;
    }
    .cart__total-label {
        margin: 0;
        flex: 1;
        text-transform: uppercase;
    }
    .cart__total-price {
        align-self: flex-end;
        font-weight: bold;
        text-align: right;
    }
    .bar-code {
        background: white;
        padding: 30px;
        border-radius: 6px 6px 4px 4px;
    }

    .link {
        display: block;
        margin: 25px auto 15px auto;
        text-align: center;
    }
#onbtn{

    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
}
    #receiptbtn{
        
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #e2f0ff;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }


