@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #bfd2ff;
  position: relative;
  z-index: 1;
}

header {
  font-family: 'Modak', cursive;
  position: absolute;
  right: 0;
  top: 1.2rem;
  writing-mode: vertical-rl;
  text-orientation:sideways;
  font-size: 20vh;
  color: #ffffff80;
}

#matter-canvas {
  width: 100%;
  height: 100%;
  filter: url(#gooey);
  flex-shrink: 0;
}

#bottle, #glass {
  position: absolute;
  pointer-events: none;
}

#glass {
  width: 250px;
}

#bottle {
  left: 0;
  top: 5px;
  z-index: -1;
  width: 600px;
  transform: translate(-20px, 0);
}